version: "3.9"

services:
  backend:
    build: ./backend
    container_name: brain_tumor_backend
    ports:
      - "8000:8000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - brain_net

  frontend:
    build: ./frontend
    container_name: brain_tumor_frontend
    ports:
      - "8501:8501"
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - brain_net

networks:
  brain_net:
    driver: bridge
